#tituloPrincipal{
    color: darkgreen;
    font-family: sans-serif;
}

.parrafoSecundaro {
    color: cadetblue;
    font-size: 20px
}

/*p{
    background-color: aliceblue;
}*/

a:link{
    color: chocolate
}

a:visited{
    color: green
}

a:hover{
    background-color: black;
    color: white
}

a:active{
    background-color: red;
    color: black;
}

p:nth-child(even){
    background-color: blue;
}
p:nth-child(odd){
    background-color: green;
}